# Exploratory Data analysis of Titanic  Dataset

In [20]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
%matplotlib inline
%autosave 120
%pylab inline

Autosaving every 120 seconds
Populating the interactive namespace from numpy and matplotlib

In [27]:
sns.set_style('whitegrid')

In [45]:
df = pd.read_csv('Datasets/titanic-data.csv',keep_default_na=True)
df.set_index(['PassengerId'],inplace=True)

In [36]:
df.shape

(891, 12)

In [37]:
df.ndim

2

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB